:root {
  --primary-color: hsl(180, 29%, 50%);
  --bg-color: hsl(180, 52%, 96%);
  --tablet-color: hsl(180, 31%, 95%);
  --grayish-green: hsl(180, 8%, 52%);
  --dark-grayish-green: hsl(180, 14%, 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1.2rem;
}

/*********************/
/* HEADER SECTION */

.header {
  background-color: var(--primary-color);
}

.header-img {
  width: 100vw;
  height: 10rem;
  object-fit: cover; /*sets how the img should be resized to fit its container.*/
}

/**********************/
/* MAIN  */

.main {
  width: 80%;
  margin: auto;
}

.hidden {
  display: none;
}

@media (max-width: 769px) {
  .main {
    width: 94%;
  }
}

/**********************/
/* TABLET DESIGN */
.tablet-btn {
  background-color: var(--tablet-color);
  color: var(--primary-color);
  font-weight: 700;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
  margin: 0.5rem;
  font-size: inherit;
}

.tablet-btn:hover {
  background-color: var(--primary-color);
  color: var(--tablet-color);
}

.tablet-btn-filtered {
  cursor: default;
  padding-right: 0;
}

.tablet-btn-filtered:hover {
  background-color: var(--tablet-color);
  color: var(--primary-color);
}

.tablet-btn-filtered::after {
  position: relative;
  content: "X";
  background-color: var(--primary-color);
  color: var(--tablet-color);
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  margin-left: 0.5rem;
  border-radius: 0 0.3rem 0.3rem 0;
}
